.title{
    font-size: 2.1rem;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 24px;
    @media screen and (max-width: 767px) {
        font-size: 1.6rem;
        margin-bottom: 16px;
    }
}

.text{
    font-size: 1.6rem;
    margin-bottom: 24px;
    @media screen and (max-width: 767px) {
        font-size: 1.3rem;
        margin-bottom: 16px;
    }
}

.cate{
    display: inline-block;
    background-color: var(--cate-on-bg);
    color: var(--cate-on-text);
    padding: 13px 20px;
    border-radius: 24px;
    margin-bottom: 54px;
    font-size: 1.4rem;
    line-height: 1;
    @media screen and (max-width: 767px) {
        font-size: 1.1rem;
        padding: 6px 12px;
        margin-bottom: 44px;
    }
}

.list{
    border-top: 2px solid var(--card-bar);
    border-bottom: 2px solid var(--card-bar);
    @media screen and (max-width: 767px) {
        border-top: 1px solid var(--card-bar);
        border-bottom: 1px solid var(--card-bar);
    }
}
.item{
    &:not(:last-child){
        border-bottom: 2px solid var(--card-bar);
        @media screen and (max-width: 767px) {
            border-bottom: 1px solid var(--card-bar);
        }
    }
}

.memori{
    position: relative;
}
.memori a{
    padding: 34px 40px;
    display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-align-items: center;
	align-items: center;
    transition: .3s;
    @media screen and (max-width: 767px) {
        padding: 20px;
    }
    &:hover{
        opacity: .6;
    }
}
.memori__title{
    font-size: 1.6rem;
    font-weight: 700;
    @media screen and (max-width: 767px) {
        font-size: 1.3rem;
    }
}

.memori__switch{
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
    width: 28px;
    height: 10px;
    border-radius: 8px;
    background-color: var(--switch-bg);
    cursor: pointer;
    @media screen and (max-width: 767px) {
        width: 24px;
        height: 8px;
        right: 20px;
        border-radius: 4px;
    }
}
.memori__switch__inner{
    position: relative;
    width: 100%;
    height: 100%;
    &::before{
        content: "";
        display: block;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: var(--switch-thum);
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        transition: .3s ease;
        @media screen and (max-width: 767px) {
            width: 12px;
            height: 12px;
        }
    }
    &:has(input:checked){
        &::before{
            left: 0;
            transform: translateX(100%) translateY(-50%);
        }
    }
}
.memori__switch__inner input{
    appearance: none;
    width: 100%;
    height: 100%;
    position: absolute;
}