.list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (max-width: 767px) {
  .list {
    gap: 24px;
  }
}

.empty {
  padding: 24px 30px;
  border-radius: 12px;
  border: 1px solid #fff;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  line-height: 2;
}
@media screen and (max-width: 767px) {
  .empty {
    padding: 16px 20px;
    border-radius: 8px;
    font-size: 1.4rem;
  }
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  border-radius: 12px;
  border: 1px solid #fff;
  position: relative;
}
@media screen and (max-width: 767px) {
  .item {
    padding: 14px 20px;
    border-radius: 8px;
  }
}

.item__title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2;
}
@media screen and (max-width: 767px) {
  .item__title {
    font-size: 1.3rem;
  }
}

.item__btn {
  width: 40px;
  height: 40px;
  position: relative;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .item__btn {
    width: 30px;
    height: 30px;
  }
}
.item__btn::before {
  content: "";
  display: block;
  width: 24px;
  height: 3.7px;
  background-image: url(/dots.svg);
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
}
@media screen and (max-width: 767px) {
  .item__btn::before {
    width: 19px;
    height: 3px;
  }
}

.item__btn.on::before {
  background-image: url(/dots-bl.svg);
}

.item__nav {
  position: absolute;
  top: 62px;
  right: 0;
  padding: 24px 36px;
  background-color: #131622;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  z-index: 1000;
}
@media screen and (max-width: 767px) {
  .item__nav {
    top: 42px;
    border-radius: 12px;
    padding: 20px 30px;
    gap: 8px;
  }
}

.item__nav__item {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  gap: 12px;
}
@media screen and (max-width: 767px) {
  .item__nav__item {
    font-size: 1.3rem;
    gap: 10px;
  }
}
.item__nav__item::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-size: cover;
}
@media screen and (max-width: 767px) {
  .item__nav__item::before {
    width: 18px;
    height: 18px;
  }
}

.item__nav__item-edit::before {
  background-image: url(/pen.svg);
}

.item__nav__item-delete::before {
  background-image: url(/trash.svg);
}

.add {
  margin-top: 40px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .add {
    margin-top: 30px;
  }
}

.add button {
  width: 72px;
  height: 30px;
  border-radius: 24px;
  background-color: var(--btn-bar);
  position: relative;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .add button {
    width: 46px;
    height: 22px;
    border-radius: 12px;
  }
}
.add button::before {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  background-image: url(/add-btn-bl.svg);
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 767px) {
  .add button::before {
    width: 8px;
    height: 8px;
  }
}
/*# sourceMappingURL=cate.module.css.map */