.category{
    margin-bottom: 30px;
    overflow-x: scroll;
    @media screen and (max-width: 767px) {
        margin-bottom: 24px;
    }
}

.category__list{
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
    gap: 24px;
    @media screen and (max-width: 767px) {
        gap: 18px;
    }
}

.category__item{
    font-size: 1.5rem;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    transition: .3s;
    @media screen and (max-width: 767px) {
        font-size: 1.2rem;
    }
}
.category__item.on button{
    display: inline-block;
    padding: 7px 12px;
    border-radius: 16px;
    background-color: var(--cate-on-bg);
    color: var(--cate-on-text);
    @media screen and (max-width: 767px) {
        padding: 6px 12px;
    }
}
.category__item-setting{
    width: 24px;
    min-width: 24px;
    cursor: pointer;
    @media screen and (max-width: 767px) {
        width: 18px;
        min-width: 18px;
    }
}
.category__item-setting img{
    width: 100%;
}

.card__empty{
    text-align: center;
    margin-top: 60px;
    @media screen and (max-width: 767px) {
        margin-top: 40px;
    }
}

.card__list{
    display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
    gap: 24px;
    @media screen and (max-width: 767px) {
        gap: 20px;
    }
}

.card__item a{	
    display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: flex-start;
	align-items: flex-start;
    padding: 42px 38px 38px;
    border-radius: 16px;
    background-color: var(--card-bg);
    transition: .3s;
    @media screen and (max-width: 767px) {
        padding: 26px 24px 20px;
        border-radius: 8px;
    }
    &:hover{
        opacity: .6;
    }
}
.card__item__title{
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 14px;
    @media screen and (max-width: 767px) {
        font-size: 1.4rem;
        margin-bottom: 12px;
    }
}
.card__item__cate{
    font-size: 1.4rem;
    color: var(--text-sub);
    @media screen and (max-width: 767px) {
        font-size: 1.2rem;
    }
}