.module{
    width: 100%;
}

.title{
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.16em;
    text-align: center;
    @media screen and (max-width: 767px) {
        font-size: 1.6rem;
    }
}

.page{
    font-size: 1.7rem;
    margin-top: 40px;
    text-align: center;
    @media screen and (max-width: 767px) {
        font-size: 1.3rem;
        margin-top: 30px;
    }
}

.list{
    margin-top: 40px;
    display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
    gap: 30px;
    @media screen and (max-width: 767px) {
        margin-top: 30px;
        gap: 20px;
    }
}
.list__item{
    padding-left: 30px;
    position: relative;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 0.16em;
    line-height: 2;
    text-align: left;
    @media screen and (max-width: 767px) {
        font-size: 1.4rem;
    }
    &::before{
        content: "";
        display: block;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: #fff;
        background-size: cover;
        position: absolute;
        top: 18px;
        left: 10px;
        @media screen and (max-width: 767px) {
            top: 13px;
        }
    }
}