
.add{
    width: 86px;
    height: 86px;
    position: fixed;
    bottom: 60px;
    right: 60px;
    @media screen and (max-width: 767px) {
        width: 56px;
        height: 56px;
        bottom: 24px;
        right: 24px;
    }
}
.add a,
.add button{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    &::before,
    &::after{
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &::before{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: var(--btn-bg);
        transition: .3s;
    }
    &::after{
        content: "";
        display: block;
        width: 28px;
        height: 28px;
        background-image: url(/add-btn.svg);
        background-size: cover;
        @media screen and (max-width: 767px) {
            width: 20px;
            height: 20px;
        }
    }
    &:hover{
        &::before{
            transform: translate(-50%, -50%) scale(1.2);
        }
    }
}

.start{
    display: inline-block;
    position: sticky;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    height: 86px;
    max-width: 280px;
    width: 100%;
    margin-top: 60px;
    @media screen and (max-width: 767px) {
        height: 56px;
        max-width: 146px;
        bottom: 24px;
        margin-top: 30px;
    }
}
.start a{
    width: 100%;
    height: 100%;
    display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
    font-size: 1.8rem;
    position: relative;
    @media screen and (max-width: 767px) {
        font-size: 1.6rem;
    }
    &::before{
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 46px;
        background-color: var(--btn-bg);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .3s;
        z-index: 1;
    }
    &:hover{
        &::before{
        transform: translate(-50%, -50%) scale(1.2);
        }
    }
}
.start a span{
    z-index: 2;
}


.editNext{
    width: 86px;
    height: 86px;
    position: fixed;
    bottom: 60px;
    right: 60px;
    @media screen and (max-width: 767px) {
        width: 56px;
        height: 56px;
        right: 24px;
        bottom: 24px;
    }
}
.editNext button{
    width: 100%;
    height: 100%;
    position: relative;
    &::before,
    &::after{
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &::before{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: var(--btn-bg);
        transition: .3s;
    }
    &::after{
        content: "";
        display: block;
        width: 28px;
        height: 28px;
        background-image: url(/arrow-next.svg);
        background-size: cover;
        @media screen and (max-width: 767px) {
            width: 20px;
            height: 20px;
        }
    }
    &:hover{
        &::before{
            transform: translate(-50%, -50%) scale(1.2);
        }
    }
}

.edit{
    width: calc(100vw - 120px);
    height: 86px;
    position: fixed;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    @media screen and (max-width: 767px) {
        width: calc(100vw - 48px);
        height: 56px;
        bottom: 24px;
    }
}
.edit__inner{
    width: 100%;
    height: 100%;
    position: relative;
}
.edit__back,
.edit__next{
    width: 86px;
    height: 86px;
    position: absolute;
    top: 0;
    @media screen and (max-width: 767px) {
        width: 56px;
        height: 56px;
    }
}
.edit__back{
    left: 0;
}
.edit__back button,
.edit__next button{
    width: 100%;
    height: 100%;
    position: relative;
    &::before,
    &::after{
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &::before{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: var(--btn-bg);
        transition: .3s;
    }
    &::after{
        content: "";
        display: block;
        width: 28px;
        height: 28px;
        background-size: cover;
        @media screen and (max-width: 767px) {
            width: 20px;
            height: 20px;
        }
    }
}
.edit__back button{
    &::after{
        background-image: url(/arrow-back.svg);
    }
    &:hover{
        &::before{
            transform: translate(-50%, -50%) scale(1.2);
        }
    }
}
.edit__next{
    right: 0;
}
.edit__next button{
    &::after{
        background-image: url(/arrow-next.svg);
    }
    &:hover{
        &::before{
            transform: translate(-50%, -50%) scale(1.2);
        }
    }
}
.edit__release{
    height: 86px;
    max-width: 280px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    @media screen and (max-width: 767px) {
        height: 56px;
        max-width: 146px;
    }
}
.edit__release button{
    width: 100%;
    height: 100%;
    display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
    font-size: 1.8rem;
    position: relative;
    &::before{
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 46px;
        background-color: var(--btn-bg);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .3s;
        z-index: 1;
    }
    &:hover{
        &::before{
            transform: translate(-50%, -50%) scale(1.2);
        }
    }
}
.edit__release button span{
    z-index: 2;
}